* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100%;
    padding: 0 22px;
    margin: 0 auto;
}

@media screen and (min-width: 480px) {
    .container {
        max-width: 1440px;
    }
}

:root {
    --main-bg: rgb(151, 177, 142);
    --main-font: "Roboto Condensed", sans-serif;
}

.page_body {z-index: 2;
    overflow: clip;
}

.first {
    z-index: -1;
    position: absolute;
    right: 0;
    top: 110px;
}

.second {
    z-index: -1;
    position: absolute;
    right: 0;
    top: 305px;
}


/* HEADER */

header {
    background-image: url("images/background.jpg");
    background-size: 100% auto;
}

.header_wrapper {
    display: flex;
    align-items: center;
}

.header_menu {
    margin-left: auto;
}




/* PROFILE */

.profile_mini {
    width: 45px;
    height: 45px;
    padding: 5px 0px 5px 0px;
}



/* CONTEST */

.contest_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 59px;
}

.contest_member {
    display: flex;
    flex-direction: column;
    background-image: url("images/background.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-top: 24px;
    border-radius: 10px;
}

.contest_membimg {
    width: 350px;
    height: 350px;
    margin: 96px 165px 72px 165px;
}

.contest_graph {
    margin: 0 auto;
}

.contest_teamrate {
    margin: 0 auto;
    display: flex;
    background-color: var(--main-bg);
    border-radius: 15px;
}

.contest_teamrate_text {
    font-size: 36px;
    padding: 28px 184px 28px 33px;
    font-family: var(--main-font);
}

.contest_indrate {
    margin: 0 auto;
    margin-top: 16px;
    margin-bottom: 36px;
    display: flex;
    background-color: var(--main-bg);
    border-radius: 15px;
}

.contest_indrate_text {
    padding: 24px 101px 24px 101px;
    font-size: 36px;
    font-family: var(--main-font);
}



























/* выпадающее меню */
.dropbtn {
    background-color: var(--main-bg);
    color: black;
    padding: 8px;
    font-size: 16px;
    font-family: var(--main-font);
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }

  .dropbtn_contest {
    font-size: 36px;
    margin-top: 64px;
  }

  
  .dropbtn:hover, .dropbtn:focus {
    background-color: var(--main-bg);
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown_contest {
    position: relative;
    display: inline-block;
    margin-top: 64px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: #ddd;}
  
  .show {display:block;}






@media screen and (max-width: 480px) {
    
}